.app {
  width: 90%;
  margin: 0px auto;
}

.menu {
  display: flex; justify-content: space-between;
  margin-bottom: 10px;
}

.menu Button {
  text-transform: none;
}

.menu .admin {
  margin-left: 10px;
}

.page {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
}

.user, .sendmessage, .login {
  display: flex;
  gap: 15px;
  align-items: center;
}